<!DOCTYPE html>
<html ng-app="FatWatchApp" ng-controller="LandingPageController">
<head>
    <title ng-bind="models.pageTitle"></title>
</head>
<body>
    <input type="text" ng-model="models.pageTitle" />
    <h1>{{models.pageTitle}}</h1>



    <a href="/#/doctors">Route One</a>

    <div ng-view></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/FatWatchApp")
</body>
</html>